.portadaInicial {
    background-color: var(--color-base);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-family: 'Asap Condensed', sans-serif;;
}
.imgLogo{
    width: 200px;
}
.tituloPrincipal {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    padding-top: 20px;
}
.botonesInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 3rem 0;    
}
.botonVerificar {
    width: 10rem;
    height: 3rem;
    background-color: #FF8000;
    border: 10px;
    border-color: white;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-base);
    box-shadow: 3px 3px 5px black;
}
.ingresoDni {
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
.input{
    padding: 5px;
    width: 250px;
    text-align: center;
}
.imgPersonaModal{
    width: 250px;
}
.ceroResultados{
    color: white;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}